.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

// You can modify gap value with inline style i.e. style="--gap: 2rem" or
// create anoter class for the specific property.

.container {
  padding: 2em;
  margin-inline: auto;
  max-width: 100rem;
}

.grid-container {
  display: grid;
  column-gap: var(--coulumn-gap, 2rem);
  grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 25rem)) minmax(2rem, 1fr);

  *:first-child {
    grid-column: 2;
  }

  *:last-child {
    grid-column: 3;
  }
}

