@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-barlow-weight-medium: 600;
  --font-fraunces-weight-bold: 700;
  --font-fraunces-weight-bolder: 900;

  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --color-dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* (photography text) */
  --color-darkblue: hsl(198, 62%, 26%);
  /* (footer) */
  --color-Dark-moderate-cyan: hsl(169, 41%, 55%);
  --color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  margin: 0 auto;
  font-size: 62.5%;
  min-height: 100vh;
  font-family: var(--font-barlow);
  font-weight: 800;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ====== Header ====== */
header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  background-image: url("./assets/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .header_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-fraunces);
    color: var(--color-white);
    margin-top: 4rem;
    gap: 4rem;
    letter-spacing: 8px;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2rem;
    }
  }
}

/* Navbar */
.navbar_links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.4rem;
  color: var(--color-white);

  ul {
    display: flex;
    gap: 64px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    a.active {
      cursor: pointer;
      font-family: var(--font-fraunces);
      font-weight: var(--font-fraunces-weight-bolder);
      color: var(--color-very-dark-desaturated-blue);
      background-color: var(--color-white);
      padding: 15px 30px;
      border-radius: 30px;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.mobile_navbar-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* =============================== */

/* ====== Branding Sections ====== */

.branding_normal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .branding_section-content {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;

    h2 {
      font-size: 3rem;
      font-family: var(--font-fraunces);
      font-weight: var(--font-fraunces-weight-bolder);
    }

    p {
      font-size: 1rem;
      color: var(--color-very-dark-grayish-blue);
      font-weight: var(--font-barlow-weight-medium);
    }

    a {
      position: relative;
      font-size: 1rem;
      font-family: var(--font-fraunces);
      text-transform: uppercase;
      font-weight: var(--font-fraunces-weight-bolder);
      z-index: 1;

      span {
        position: absolute;
        top: 13px;
        left: -4px;
        z-index: -1;
        width: 125px;
        border: 5px solid var(--color-yellow);
        border-radius: 5px;
        opacity: 0.5;
      }

      .reverse {
        border: 5px solid var(--color-soft-red);
        opacity: 0.5;
      }
    }
  }

  .branding_section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-position: center;
    }
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;

    .branding_section-content {
      margin-top: 2rem;
      margin-bottom: 5rem;
      align-items: center;
      text-align: center;
    }
  }
}

.branding_reverse {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  .branding_section-content {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;

    h2 {
      font-size: 3rem;
      font-family: var(--font-fraunces);
      font-weight: var(--font-fraunces-weight-bolder);
    }

    p {
      font-size: 1rem;
      color: var(--color-very-dark-grayish-blue);
      font-weight: var(--font-barlow-weight-medium);
    }

    a {
      position: relative;
      font-size: 1rem;
      font-family: var(--font-fraunces);
      text-transform: uppercase;
      font-weight: var(--font-fraunces-weight-bolder);
      z-index: 1;

      span {
        position: absolute;
        top: 13px;
        left: -4px;
        z-index: -1;
        width: 125px;
        border: 5px solid var(--color-yellow);
        border-radius: 5px;
        opacity: 0.5;
      }

      .reverse {
        border: 5px solid var(--color-soft-red);
        opacity: 0.5;
      }
    }
  }

  .branding_section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-position: center;
    }
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;

    .branding_section-content {
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 5rem;
      align-items: center;
      text-align: center;
    }

    .branding_section-img {
      width: 100%;
    }
  }
}

.branding_cover-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .branding_cover-relative {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    .branding-cover-img {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        background-position: center;
      }

      @media screen and (max-width: 1024px) {
        width: auto;
        height: 600px;

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .branding_cover-absolute {
      position: absolute;
      bottom: 70px;

      h2 {
        font-size: 3rem;
        padding-bottom: 2rem;
        color: var(--color-dark-desaturated-cyan);
        font-family: var(--font-fraunces);
        font-weight: var(--font-fraunces-weight-bolder);
      }

      p {
        width: 350px;
        font-size: 1rem;
        color: var(--color-dark-desaturated-cyan);
        font-weight: var(--font-barlow-weight-medium);
      }

      @media screen and (max-width: 768px) {
        bottom: 80px;

        h2 {
          font-size: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: none;
  }
}
/* =============================== */

/* ====== Testimonial Sections ====== */
.testimonial_container {
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--color-grayish-blue);
    font-family: var(--font-fraunces);
    text-transform: uppercase;
    font-weight: var(--font-fraunces-weight-bold);
    text-align: center;
  }

  .testimonial_card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .testimonial_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 3.5rem;
      padding: 0 2.1rem;

      .testimonial_card-img {
        width: 80px;
        height: 80px;

        img {
          width: 100%;
          height: auto;
          border-radius: 100%;
        }
      }

      p {
        font-size: 1rem;
        color: var(--color-very-dark-grayish-blue);
        font-family: var(--font-barlow);
        font-weight: var(--font-barlow-weight-medium);
      }

      .testimonial_card-titles {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .testimonial_card-name {
          font-size: 1rem;
          font-family: var(--font-fraunces);
        }

        .testimonial_card-title {
          color: var(--color-grayish-blue);
          font-size: 0.9rem;
          font-family: var(--font-barlow);
          font-weight: var(--font-barlow-weight-medium);
        }
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: none;
    }
  }
}
/* ================================== */

/* ====== Image showcase Sections ====== */
.imageShowcase_container {
  display: flex;

  @media screen and (max-width: 640px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ===================================== */

/* ====== footer ====== */
footer {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: var(--color-Dark-moderate-cyan);
  opacity: 90%;

  .footer_brand-title {
    font-size: 2rem;
    color: var(--color-dark-desaturated-cyan);
  }

  .footer_brand-nav {
    display: flex;
    color: var(--color-dark-desaturated-cyan);
    font-size: 1rem;
    gap: 3rem;
  }

  .footer_brand-socialMedias {
    display: flex;
    gap: 2rem;
  }
}

/* ==================== */
