@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --dark-primary-blue: hsl(217, 19%, 35%);
  --desaturated-secondary-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-blue: hsl(210, 46%, 95%);

  --primary-font-family: "Manrope", sans-serif;
  --primary-font-size: 0.8rem;
  --font-weight-bold: 700;
  --font-weight-normal: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--dark-primary-blue);
  background-color: var(--light-blue);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.article_preview_card-wrapper {
  background-color: white;
  display: flex;
  border-radius: 12px;
  max-width: 900px;
  height: 315px;

  /* Left image */
  .article_preview_card-img-container {
    overflow: hidden;
    width: 39%;
    height: 100%;

    img {
      /* max-width: 100%; */
      height: 100%;
      background-position: center;
      object-fit: cover;
      display: block;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }

  /* Right content */
  .article_preview_card-content-container {
    width: 61%;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .article_preview_card-content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h2 {
        width: 100%;
        max-width: 425px;
        display: inline-block;
        font-size: 2rem;
      }

      p {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        font-size: 1.4rem;
        color: var(--grayish-blue);
      }
    }
  }

  /* Avatar */
  .article_preview_card-avatar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .article_preview_card-avatar-details {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;

      .article_preview_card-avatar {
        img {
          border-radius: 100%;
          width: 50px;
        }
      }
      .article_preview_card-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
          font-size: 1.6rem;
        }

        span {
          font-size: 1.5rem;
          color: var(--grayish-blue);
        }
      }
    }

    .article_preview_card-share-button {
      background-color: transparent;
      border: none;
      background-color: var(--light-blue);
      width: 40px;
      height: 40px;
      border-radius: 100%;
      cursor: pointer;
      z-index: 999;
    }

    .article_preview_card-share-button:hover {
      background-color: var(--desaturated-secondary-blue);
      transition: all 0.3s ease-in-out;

      .share-icon {
        fill: white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

/* Share Field */
.article_preview_card-share-field-container {
  display: none;
  position: absolute;
  top: 150px;
  right: -55px;
  background-color: var(--dark-primary-blue);
  z-index: 99;
  width: 42%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .article_preview_card-share-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 12px;
    gap: 20px;

    span {
      color: var(--grayish-blue);
      font-size: 1.2rem;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

.article_preview_card-share-square {
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: var(--dark-primary-blue);
  transform: rotate(45deg);
}

@media screen and (max-width: 995px) {
  .article_preview_card-share-field-container {
    left: 60%;
  }

  .article_preview_card-share-square {
    left: 71%;
  }
}

@media screen and (max-width: 792px) {
  .article_preview_card-wrapper {
    flex-direction: column;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .article_preview_card-img-container {
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        border-radius: 12px 12px 0 0;
      }
    }

    .article_preview_card-content-container {
      width: 100%;
      padding: 30px 30px 10px 30px;
      overflow: hidden;
      gap: 35px;

      .article_preview_card-content {
        h2 {
          font-size: 1.7rem;
        }

        p {
          font-size: 1.3rem;
          width: 100%;
        }
      }

      .article_preview_card-avatar-container {
        flex-direction: row;
        gap: 20px;

        .article_preview_card-info {
          h3 {
            font-size: 1.3rem;
          }

          span {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .article_preview_card-share-field-container {
    width: 100%;
    top: 73%;
    left: 0;
    height: 70px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;

    .article_preview_card-share-field {
      height: 100%;
    }

    .article_preview_card-share-square {
      display: none;
    }
  }
}

@media screen and (max-width: 471px) {
  .article_preview_card-share-field-container {
    top: 76%;
  }
}

@media screen and (max-width: 432px) {
  .article_preview_card-share-field-container {
    top: 79%;
  }
}
