.sidebar_wrapper {
  width: 30%;
  height: 100%;
  min-height: 500px;
  background-color: black;
  color: white;
  padding: 28px 24px;

  h2 {
    margin: 0;
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgb(170, 169, 169);
    margin: 20px 0;
    border: none;
  }

  .sidebar_news-container {
    display: flex;
    flex-direction: column;
  }
}

.sidebar_news_item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    color: hsl(233, 8%, 79%);
  }
}

@media screen and (max-width: 1024px) {
  .sidebar_wrapper {
    width: 100%;
    padding: 24px;
    min-height: 0;
  }
}
