.faq_container {
  width: 100%;
  max-width: 920px;
  min-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  background: var(--color-light-grayish-blue);
  border-radius: 20px;
  position: relative;
  z-index: 100;
}

.faq_bgs-container {
  position: absolute;
  top: 0;
  left: 0;
}

.faq_bgs-img {
  height: auto;
  width: 100%;
}
