@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

:root {
  --color-very-dark: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  --color-gredient-violet: hsl(273, 75%, 66%);
  --color-gredient-blue: hsl(240, 73%, 65%);
  --color-text-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-text-dark-grayish-blue: hsl(240, 6%, 50%);
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-height: 100vh;
  font-family: "Kumbh Sans" sans-serif;
  font-size: 62.5%;
  background: linear-gradient(
    to bottom,
    var(--color-gredient-violet),
    var(--color-gredient-blue)
  );
}
