@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(255, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --vary-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --font-color : hsl(240, 1%, 17%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(224,93%,93%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: cover;
}



.modal {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0 20px;
}

.modal__container {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 8px 15px -2px hsla(224, 23%, 55%, 0.673);
  text-align: center;
}

.modal__img {
  max-width: 100%;
  border-radius: 20px 20px 0 0 ;
}



.modal__container--main {
  padding: 40px 30px;
}

.modal__header {
  padding-bottom: 40px;
  color: var(--font-color);
}

.modal__header--h1 {
  padding-bottom: 20px;
  font-weight: 900;
}

.modal__header--p,
.modal__plan--price {
  color: var(--Desaturated-blue);
}

.modal__plan {
  background-color: var(--pale-blue);
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__plan--container {
  display: flex;
  gap: 1.2rem;
}

.modal__plan--description {
  text-align: left;
}

.modal__plan--title {
  padding-bottom: .5rem;
  color: var(--font-color);
}

.modal__cta--btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 15px -2px rgba(56, 41, 224, 0.509);
  background-color: var(--bright-blue);
  padding: 15px 0 15px 0;
  margin-bottom: 30px;
  text-decoration: none;
  color: var(--vary-pale-blue);
  transition: all .3s;
}

.modal__cta--btn:hover {
  color: var(--Desaturated-blue);
  background-color: var(--pale-blue);
}

.modal__cta--cancel {
  font-size: 16px;
  color: var(--font-color);
  text-decoration: none;
}

.modal__cta--cancel:hover {
  border-bottom: 2px solid var(--font-color);
}
