@import "../base/colors";

.large-btn {
  display: grid;
  padding: 0 2em;
  place-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;


  &::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--color-white) / .15);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

