/* Button hover & focus animation */
.large-btn {
  display: grid;
  padding: 0 2em;
  place-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;


  &::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--color-white) / .15);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 600ms ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.4);
    opacity: 1;
  }
}

/* Underline hover & focus animation */
.navigation {
  --gap: 8rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  --underline-gap: 1rem;

  a {
    text-decoration: none;

    span {
      margin-right: .5em;
      font-weight: var(--fw-700);
      color: hsl(var(--color-white) / .8)
    }
  }
}

/* Underline */
.underline > * {
  cursor: pointer;
  border: 0;
  border-bottom: .15rem solid hsl(var(--color-white) / 0);
  padding: var(--underline-gap, .5rem) 0;
  
  &:hover,
  &:focus {
    border-color: hsl(var(--color-white) / .5);
  }

  &.active,
  &[aria-selected="true"]{
    border-color: hsl(var(--color-white) / 1);
  }
}


/* Planet btns */
.planet-btn,
.dot-btn {
  --gap: 2rem;
}

/* Dot */
.dot > * {
  border: 0;
  aspect-ratio: 1;
  padding:.5em;
  border-radius: 50%;
  background-color:  hsl(var(--color-white) / .3);
  cursor: pointer;

  &:hover,
  &:focus {
    transition: all .3s ease;
    background-color: hsl(var(--color-white) / .5);
  }

  &.active,
  &[aria-selected="true"] {
    background-color: hsl(var(--color-white) / 1);
  }
}


/* Number btn for img */
.num-btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.num-btn > * {
  --gap: 2rem;
  border: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:  hsl(var(--color-dark));
  border: 1px solid  hsl(var(--color-white) / .3);
  color: hsl(var(--color-white) / 1);

  &:hover,
  &:focus,
  &.active,
  &[aria-selected="true"] {
    transition: all .5s ease;
    background-color: hsl(var(--color-white) / 1);
    color: hsl(var(--color-dark));
  }
}