/* Button hover & focus animation */
.large-btn {
  display: grid;
  padding: 0 2em;
  place-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;


  &::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--color-white) / .15);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 600ms ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.4);
    opacity: 1;
  }
}

/* Underline hover & focus animation */
.navigation {
  --gap: 8rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  --underline-gap: 1rem;

  a {
    text-decoration: none;

    span {
      margin-right: .5em;
      font-weight: var(--fw-700);
      color: hsl(var(--color-white) / .8)
    }
  }
}

/* Underline */

.underline > * {
  border-bottom: .15rem solid hsl(var(--color-white) / 0);
  padding: var(--underline-gap, .5rem) 0;

  &:hover,
  &:focus {
    border-color: hsl(var(--color-white) / .25);
  }
}

.underline > .active {
  border-color: hsl(var(--color-white) / 1);
}