@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  /* Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --darkBlueMainBG: hsl(217, 54%, 11%);
  --darkBlueCardBG: hsl(216, 50%, 16%);
  --darkBlueLine: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --fontSize: 18px;

  /* Font weight */
  --fontWeightLieght: 300;
  --fontWeightNormal: 400;
  --fontWeightBold: 600;
}


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--darkBlueMainBG);
  font-family: 'Outfit', sans-serif;
  font-size: var(--fontSize);
}

h2,
p {
  margin: 0;
}
