@media screen and (max-width: 1024px) {
  .headline_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headline_img-container {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .headline_content-container {
    h1 {
      font-weight: 800;
      margin-bottom: 0;
    }
    p {
      font-weight: 400;
      color: #666;
    }

    button {
      background-color: hsl(5, 85%, 63%);
      border: none;
      text-transform: uppercase;
      width: 50%;
      height: 45px;
      font-weight: 800;
    }
  }
}
