
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --font-gray: hsl(0, 0%, 59%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--dark-cyan);
    width: 1140px;
    font-size: 18px;
}


#bg__top {
    position: absolute;
    bottom: 40%;
}

#bg__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
}

.profile__section {
    height: 100vh;
}

.profile__card--container {
    width: 350px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.profile__bg {
    position: relative;
}

.profile__selfie--img {
    position: absolute;
    top: 90px;
    left: 125px;
    right: 0;
    bottom: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile__card--imgs {
    padding-bottom: 70px;
}

.profile__info--personal {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.age {
    padding-left: 15px;
}

.location {
    text-align: center;
    padding: 17px 0;
    color: var(--font-gray);
}

.profile__info--divider {
    width: 350px;
    border-bottom: 1px solid rgb(196, 193, 193);
}

.profile__info--items {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;

}
/* 
.item--2--reduce {
    padding-right: 30px;
} */


.text-small {
    color: var(--font-gray);
    font-size: 13px;
}


@media (max-width: 1800px) {
    #bg__top {
        position: absolute;
        bottom: 40%;
        right: 50%;
    }
    
    #bg__bottom {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 500px) {
    profile__section {
        height: 100vh;
    }
    
    .profile__card--container {
        width: 350px;
        height: 380px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
    }
}