@use './styles.scss';

body {
  font-family: styles.$fontFamily;
  line-height: 1.5;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;

  h2, h3, h4, h5, p, span {
    margin: 0;
    padding: 0;
  }
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}


