/* Layout

- Mobile: 375px
- Desktop: 1440px

*/

/* Color

- card-1: hsl(31, 77%, 52%)
- card-2: hsl(184, 100%, 22%)
- card-3: hsl(179, 100%, 13%)
- main-font: hsla(0, 0%, 100%, 0.75)
- light white(bg, heading, btns) : hsl(0, 0%, 95%)

*/

/* Font-size

- 15px

*/

/* Font 

- Lexend Deca - w400 (Description and btn)
- Big Shoulders Dsiplay - w700 (Title)

*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --card-1: hsl(31, 77%, 52%);
  --card-2: hsl(184, 100%, 22%);
  --card-3: hsl(179, 100%, 13%);
  --main-font: hsla(0, 0%, 100%, 0.75);
  --light-white: hsl(0, 0%, 95%);
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--light-white);
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  width: 1440px;
}



.preview__card--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.preview__card--items {
  /* padding: 20px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  height: 550px;
}

.preview__card--item {
  padding: 50px;
  
}


.item--1 {
  background-color: var(--card-1);
  border-radius: 10px 0 0 10px;
}

.item--2 {
  background-color:var(--card-2);
}

.item--3 {
  background-color: var(--card-3);
  border-radius: 0 10px 10px 0;
}

.preview__card--img {
  padding-bottom: 30px;
}

.preivew__card--title {
  padding-bottom: 30px;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--light-white);
}

.preview__card--text {
  padding-right: 10px;
  padding-bottom: 80px;
  color: var(--main-font);
  line-height: 1.7rem;
}

.preview__card--btn {
  border: none;
  padding: 16px 40px;
  border-radius: 30px;
}

.btn-orange,
.btn-green,
.btn-dark-green {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.1rem;
}

.btn-orange {
  color: var(--card-1);
}

.btn-green {
  color: var(--card-2);
}

.btn-dark-green {
  color: var(--card-3);
}

.attribution {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}