@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  color: var(--color-white);
  font-size: 62.5%;
  line-height: 1.5;
  font-family: font-antonio, sans-serif;
  background-image: url(../../public/assets/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

@layer components {
  .planetActionButton {
    @apply planetActionButtonText lg:h-[48px] lg:w-[350px] lg:py-[12px] border border-lightGrey;
  }

  .playnetIntroBox {
    @apply w-[327px] h-[48px] lg:w-[255px] lg:h-[128px];
  }
}

@layer utilities {
  .planetTitle {
    @apply lg:text-[8rem] font-medium text-white font-font-antonio;
  }

  .planetDescription {
    @apply lg:text-[1.4rem] font-normal text-white font-spartan;
  }

  .planetSource {
    @apply text-darkGrey font-spartan lg:text-[1.4rem];
  }

  .planetIntroText {
    @apply lg:text-[1.1rem] font-spartan font-bold text-lightGrey uppercase;
  }

  .playnetIntroNumbers {
    @apply lg:text-[4rem] uppercase text-white font-antonio;
  }

  .planetActionButtonTextNum {
    @apply lg:text-[1.2rem] text-lightGrey font-spartan font-bold;
  }

  .planetActionButtonText {
    @apply uppercase text-white font-spartan tracking-wider;
  }
}
