/* Layout

- Mobile: 375px
- Desktop: 1440px

*/

/* Color

- card-1: hsl(31, 77%, 52%)
- card-2: hsl(184, 100%, 22%)
- card-3: hsl(179, 100%, 13%)
- main-font: hsla(0, 0%, 100%, 0.75)
- light white(bg, heading, btns) : hsl(0, 0%, 95%)

*/

/* Font-size

- 15px

*/

/* Font 

- Lexend Deca - w400 (Description and btn)
- Big Shoulders Dsiplay - w700 (Title)

*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@200;400&display=swap');

:root {
  --card-1: hsl(31, 77%, 52%);
  --card-2: hsl(184, 100%, 22%);
  --card-3: hsl(179, 100%, 13%);
  --main-font: hsla(0, 0%, 100%, 0.75);
  --light-white: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  padding: 20px 75px 20px 40px;
}

.orange {
  background-color: var(--card-1);
}

.green {
  background-color: var(--card-2);
}

.dark-green {
  background-color: var(--card-3);
}

.card img {
  padding: 30px 0 40px 0;
}

.card h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.2rem;
  padding-bottom: 40px;
  color: var(--light-white);
  text-transform: uppercase;
}

.card p {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.7rem;
  color: var(--main-font);
  padding-bottom: 80px;
}

.card-btn {
  border: none;
  padding: 16px 35px;
  border-radius: 50px;
  margin-bottom: 20px;
  font-family: 'Lexend Deca', sans-serif;
}

.btn-1,
.btn-2,
.btn-3 {
  font-size: 1rem;
}

.btn-1 {
  color: var(--card-1);
}

.btn-2 {
  color: var(--card-2);
}

.btn-3 {
  color: var(--card-3);
}

@media (max-width: 890px) {
  .card {
    padding: 20px 50px 20px 30px;
  }
}

@media (max-width: 785px) {
  .card {
    padding: 20px 30px 20px 30px;
  }
}

@media (max-width: 715px) {
  .card {
    padding: 20px 15px 20px 15px;
  }
}

@media (max-width: 635px) {
  .main {
    width: 100%;
    max-width: 800px;
    height: 100%;
  }
  
  .card-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .card {
    padding: 20px 50px 20px 50px;
  }
}

@media (max-width: 515px) {
  .main {
    width: 100%;
    max-width: 600px;
    height: 100%;
  }
  
  .card-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .card {
    padding: 20px 30px 20px 30px;
  }
}

@media (max-width: 400px) {
  
  .card-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card {
    padding: 20px 25px 20px 25px;
  }
}